<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>toShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EBE177C20B4693E00BD1EC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EBE179020B4694000BD1EC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EBE179B20B4694000BD1EC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
